{% load static %}
<!--ABOUT AREA STARTS-->
<section class="about sp1" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="about-header text-center heading10">
                    <h5><img src="{% static 'images/logos/logo-2.png' %}" alt="" height="48" width="48">Bienvenidos a Asogridocam</h5>
                    <h2 class="text-anime-style-3">Conoce Asogridocam: Tu Socio Confiable en Exportación Agrícola</h2>
                </div> 
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-all-images-area">
                    <img src="{% static 'images/elements/elements12.png' %}" alt="" class="elements12 keyframe5">
                    <img src="{% static 'images/elements/elements13.png' %}" alt="" class="elements13 keyframe5">
                    <div class="row">
                        <div class="col-lg-6 col-lg-6">
                            <div class="img1 image-anime">
                                <img src="{% static 'images/img/about-hero.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-lg-6">
                            <div class="img2 image-anime">
                                <img src="{% static 'images/img/about-hero-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-area">
                    <div class="about-content">
                        <h3 class="text-anime-style-3">Experiencia Agrícola y Compromiso con la Exportación</h3>
                        <p data-aos="fade-left" data-aos-duration="1000">En Asogridocam, somos más que una asociación agrícola: somos un puente entre los agricultores del Chocó y el mercado global. Con prácticas responsables y una visión sostenible, impulsamos el desarrollo económico de nuestra región.</p>
                        <div class="space32"></div>
                        <div class="about5-boxarea">
                            <div class="row">
                                 <div class="col-lg-12">
                                      <div class="about5-boxes" data-aos="fade-left" data-aos-duration="1200">
                                           <h3>Calidad de nuestros productos</h3>
                                            <div class="about5-bar">
                                                <span class="about5-per">
                                                     <span class="per">100%</span>
                                                </span>
                                            </div>
                                      </div>
                                      <div class="space40"></div>
                                 </div>
                                 <div class="col-lg-12">
                                    <div class="about5-boxes" data-aos="fade-left" data-aos-duration="1300">
                                         <h3>Compromiso Sostenible</h3>
                                          <div class="about5-bar2">
                                              <span class="about5-per2">
                                                   <span class="per">100%</span>
                                              </span>
                                          </div>
                                    </div>
                               </div>
                          </div>
                          <div class="space32"></div>
                        <div class="btn-area1" data-aos="zoom-in-up" data-aos-duration="1400">
                            <a href="{% url 'about' %}" class="header-btn11">Descubre Más <i class='bx bxs-right-arrow-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA ENDS-->