{% load static %}
<!--===== ALIANZAS SECTION START =====-->
<section class="cta5-section-area sp1" id="alliances">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="cta-header-area text-center heading10">
                    <h2 class="text-anime-style-3">Unamos Fuerzas para Llevar los Productos del Chocó al Mundo</h2>
                    <p data-aos="fade-up" data-aos-duration="1000">En Asogridocam, creemos en la importancia de construir alianzas sólidas para promover el desarrollo agrícola de nuestra región. Juntos podemos crear nuevas oportunidades de crecimiento sostenible y garantizar la calidad en cada producto que exportamos.</p>
                    <div class="btn-area1" data-aos="fade-up" data-aos-duration="1200">
                        <a href="contact.html" class="header-btn9">Únete a Nuestra Misión <i class='bx bxs-right-arrow-alt'></i></a>
                        <a href="contact.html" class="header-btn10">Descubre las Alianzas <i class='bx bxs-right-arrow-alt'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== ALIANZAS SECTION END =====-->
