{% load static %}
<!--HERO START-->
<section class="hero" id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="header-content-area heading">
                    <h5><img src="{% static 'images/logos/logo.png' %}" alt="" height="48" width="48">Conectamos la Agricultura del Chocó con el Mundo</h5>
                    <h1 class="text-anime-style-2">Impulsa el Futuro con Productos Agrícolas de Alta Calidad</h1>
                    <p data-aos="fade-left" data-aos-duration="1000">En Asogridocam, trabajamos para exportar lo mejor de nuestra tierra, promoviendo prácticas sostenibles y fortaleciendo a nuestras comunidades agrícolas.</p>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a href="contact.html" class="header-btn9 text-center">Contáctanos Ahora <i class='bx bxs-right-arrow-alt' ></i></a>
                        <a href="contact.html" class="header-btn10">Descubre Más <i class='bx bxs-right-arrow-alt' ></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-images-area">
                    <div class="imges text-center">
                        <img src="{% static 'images/img/hero.png' %}" alt="" data-aos="zoom-in-up" data-aos-duration="1500">
                    </div>
                    <div class="imges1">
                        <img src="{% static 'images/elements/hero-bg-element.png' %}" alt="">
                    </div>
                    <div class="auhtor-images">
                        <div class="img1">
                            <img src="{% static 'images/elements/svgs/sound-icons3.svg' %}" alt="" class="sound-icons3 aniamtion-key-1">
                            <img src="{% static 'images/elements/svgs/lite-icons2.svg' %}" alt="" class="lite-icons2 aniamtion-key-3">
                            <img src="{% static 'images/elements/svgs/elements11.svg' %}" alt="" class="elements11 aniamtion-key-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--HERO END-->