{% load static %}
<!--IMPACT AREA STARTS-->
<section id="impact" class="impact-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="impact-header-area heading2 text-center">
                    <img src="{% static 'images/elements/elements12.png' %}" alt="" class="star2 keyframe5">
                    <img src="{% static 'images/elements/elements13.png' %}" alt="" class="star3 keyframe5">
                    <h2 class="text-anime-style-3">Impacto Social en el Chocó</h2>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Conoce las iniciativas que estamos desarrollando para transformar vidas, fortalecer comunidades 
                        y promover el desarrollo sostenible en la región.
                    </p>
                </div>
            </div>
        </div>
        <div class="space40"></div>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
                <div class="impact-author-boxarea" data-aos="fade-right" data-aos-duration="800">
                    <div class="img1">
                      <img src="{% static 'images/logos/asogridocam-logo.png' %}" alt="">
                    </div>
                    <div class="content-area">
                        <div class="tags-area">
                            <ul>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/contact1.svg' %}" alt="">Carlos Rodríguez</a></li>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/calender1.svg' %}" alt="">10 Octubre 2024</a></li>
                            </ul>
                        </div>
                        <a href="impact-single.html">Promoviendo la Agricultura</a>
                        <p>Descubre cómo nuestras iniciativas están ayudando a los agricultores locales a implementar 
                            prácticas sostenibles.</p>
                        <a href="impact-single.html" class="readmore header-btn11">Leer Más <i class='bx bxs-right-arrow-alt'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="impact-author-boxarea" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img1">
                        <img src="{% static 'images/logos/asogridocam-logo.png' %}" alt="">
                    </div>
                    <div class="content-area">
                        <div class="tags-area">
                            <ul>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/contact1.svg' %}" alt="">María Gómez</a></li>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/calender1.svg' %}" alt="">10 Noviembre 2024</a></li>
                            </ul>
                        </div>
                        <a href="impact-single.html">Empoderando a Mujeres Líderes</a>
                        <p>Conoce a las mujeres líderes del Chocó que están impulsando cambios positivos en sus comunidades.</p>
                        <a href="impact-single.html" class="readmore header-btn11">Leer Más <i class='bx bxs-right-arrow-alt'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="impact-author-boxarea" data-aos="fade-left" data-aos-duration="1200">
                    <div class="img1">
                        <img src="{% static 'images/logos/asogridocam-logo.png' %}" alt="">
                    </div>
                    <div class="content-area">
                        <div class="tags-area">
                            <ul>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/contact1.svg' %}" alt="">Juan Pérez</a></li>
                                <li><a href="#"><img src="{% static 'images/elements/svgs/calender1.svg' %}" alt="">10 Diciembre 2024</a></li>
                            </ul>
                        </div>
                        <a href="impact-single.html">Educación para el Futuro</a>
                        <p>Descubre cómo nuestras iniciativas educativas están abriendo puertas para la próxima generación, llena de confianza.</p>
                        <a href="impact-single.html" class="readmore header-btn11">Leer Más <i class='bx bxs-right-arrow-alt'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--IMPACT AREA ENDS-->