{% load static %}
<!-- SERVICE AREA STARTS -->
<section class="service sp1" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="service-header text-center heading10">
                    <h5><img src="{% static 'images/logos/logo-2.png' %}" alt="" width="48" height="48">Nuestros Servicios</h5>
                    <h2 class="text-anime-style-3">Impulsando el Crecimiento Agrícola del Chocó con Innovación y Conexiones Globales</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
                <div class="service-author-boxarea">
                    <h4>01</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/elements/trader.png' %}" alt="" >
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service1.html">Comercialización de Productos</a>
                        <p>Facilitamos la distribución y venta de productos agrícolas locales, conectando a los agricultores del Chocó con mercados nacionales e internacionales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="service-author-boxarea box2">
                    <h4>02</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/elements/segurity.png' %}" alt="">
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service1.html">Capacitación y Asesorías</a>
                        <p>Brindamos talleres y asesorías para mejorar técnicas de cultivo y promover prácticas sostenibles, garantizando la alta calidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="service-author-boxarea box3">
                    <h4>03</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/elements/export.png' %}" alt="">
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service1.html">Exportación Internacional</a>
                        <p>Abrimos puertas al mercado global, gestionando la logística y los acuerdos necesarios para exportar productos agrícolas del Chocó a diferentes países.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="space30"></div>
                <div class="btn-area1 text-center" data-aos="fade-up" data-aos-duration="1200">
                    <a href="contact.html" class="header-btn11">Contáctanos Ahora <i class='bx bxs-right-arrow-alt'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICE AREA ENDS -->