{% load static %}
<section class="about-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="about-header-area text-center heading-3">
                    <h5><img src="{% static 'images/brand/brand-bg.png' %}" alt="Asogridocam-Brand">Bienvenido al Futuro de la Agricultura</h5>
                    <h2 class="titles-header">Conectamos Agricultores con Tecnología para un Comercio Inteligente</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-all-images-area">
                    <img src="{% static 'images/more/svg/icons-hero-1.svg' %}" alt="" class="about-img1 keyframe5">
                    <img src="{% static 'images/more/svg/icons-hero-4.svg' %}" alt="" class="about-img2 keyframe5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime">
                                <img src="{% static 'images/heros/img-about-4.png' %}" alt="Agricultura Inteligente">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img2 image-anime">
                                <div class="space100"></div>
                                <img src="{% static 'images/heros/img-about-5.png' %}" alt="Tecnología en el Agro">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-area heading-3">
                    <h3 class="sub-titles-header">Tecnología Avanzada para Impulsar la Agricultura Colombiana</h3>
                    <p data-aos="fade-left" data-aos-duration="1000">
                        No somos solo una plataforma, somos aliados estratégicos del campo. Utilizamos <span>Inteligencia Artificial</span> y <span>Machine Learning</span> 
                        para analizar la calidad de los productos agrícolas, conectar a los agricultores con compradores y optimizar la logística de distribución.  
                        Nuestra meta es transformar la producción agrícola en un ecosistema más eficiente, rentable y sostenible.
                    </p>
                    <div class="space32"></div>
                    <div class="boxarea">
                        <div class="row">
                            <div class="col-lg-12">
                                 <div class="about-boxes" data-aos="fade-left" data-aos-duration="1200">
                                      <h3>Optimización con IA</h3>
                                       <div class="about-bar">
                                           <span class="about-per">
                                                <span class="per">90%</span>
                                           </span>
                                       </div>
                                 </div>
                                 <div class="space40"></div>
                            </div>
           
                            <div class="col-lg-12">
                                 <div class="about-boxes" data-aos="fade-left" data-aos-duration="1300">
                                      <h3>Estrategia de Comercio</h3>
                                       <div class="about-bar2">
                                           <span class="about-per2">
                                                <span class="per">98%</span>
                                           </span>
                                       </div>
                                 </div>
                            </div>
                       </div>
                  </div>
                  <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1400">
                        <a href="contact.html" class="btn-custom-tertiary">Más Información <i class="fa-solid fa-arrow-right"></i></a>
                    </div>                           
                </div>
            </div>
        </div>
    </div>
</section>