{% load static %}
<section class="case-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="case-header-area text-center heading-3">
                    <h5> <img src="{% static 'images/brand/brand-bg.png' %}" alt="">Casos de Estudio</h5>
                    <h2 class="titles-header"> Impulsando el Crecimiento con Estrategias de Agricultura Inteligente</h2>
                </div>
            </div>
        </div>
        <div class="space20"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="case-widget-area" data-aos="fade-left" data-aos-duration="1000">
                    <div class="content-area">
                        <span>01</span>
                        <div class="main-content">
                            <a href="caso-optimización-producción.html">Optimización de Producción</a>
                            <p>Implementamos algoritmos de análisis de datos para mejorar la eficiencia en la <br class="d-lg-block d-none"> producción agrícola y reducir desperdicios.</p>
                        </div>
                    </div>
                    <div class="hidden-img">
                        <a href="caso-optimización-producción.html">
                            <img src="{% static 'images/heros/img-case-1.png' %}" alt="">
                        </a>
                    </div>
                    <div class="arrow-btn">
                        <a href="caso-optimización-producción.html"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="space10"></div>
                <div class="case-widget-area" data-aos="fade-right" data-aos-duration="1200">
                    <div class="content-area">
                        <span>02</span>
                        <div class="main-content">
                            <a href="caso-comercialización-digital.html">Comercialización Digital</a>
                            <p>Desarrollamos estrategias digitales para conectar agricultores con mercados <br class="d-lg-block d-none"> nacionales e internacionales, optimizando ventas.</p>
                        </div>
                    </div>
                    <div class="hidden-img img2">
                        <a href="caso-comercialización-digital.html">
                            <img src="{% static 'images/heros/img-case-2.png' %}" alt="">
                        </a>
                    </div>
                    <div class="arrow-btn">
                        <a href="caso-comercialización-digital.html"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="space10"></div>
                <div class="case-widget-area" data-aos="fade-left" data-aos-duration="1400">
                    <div class="content-area">
                        <span>03</span>
                        <div class="main-content">
                            <a href="caso-agricultura-precisión.html">Agricultura de Precisión</a>
                            <p>Aplicamos Machine Learning para analizar imágenes satelitales y mejorar la <br class="d-lg-block d-none"> gestión de cultivos con recomendaciones personalizadas.</p>
                        </div>
                    </div>
                    <div class="hidden-img img3">
                        <a href="caso-agricultura-precisión.html">
                            <img src="{% static 'images/heros/img-case-3.png' %}" alt="">
                        </a>
                    </div>
                    <div class="arrow-btn">
                        <a href="caso-agricultura-precisión.html"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>