{% load static %}
<section class="cta-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="cta-header-area text-center heading-3">
                    <h2 class="text-anime-style-3">¿Listo para llevar tu producción agrícola al siguiente nivel?</h2>
                    <p data-aos="fade-up" data-aos-duration="1000">Conéctate con más compradores, optimiza tus procesos y accede a mejores oportunidades para tu negocio.</p>
                    <div class="btn-area" data-aos="fade-up" data-aos-duration="1200">
                        <a href="contact.html" class="btn-custom-primary">Empieza hoy <i class="fa-solid fa-arrow-right"></i></a>
                        <a href="contact.html" class="btn-custom-secondary">Solicita más información <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>