{% load static %}
<section class="hero-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header-content-area heading-1">
                    <h5><img src="{% static 'images/brand/brand-bg.png' %}" alt="Asogridocam-Brand">Transformando la Agricultura con Tecnología</h5>
                    <h1 class="titles-header">Conectamos Agricultores con Compradores de Forma Inteligente</h1>
                    <p class="header-description" data-aos="fade-right" data-aos-duration="1500">Facilitamos el acceso a mercados justos mediante nuestra plataforma digital, optimizando la logística y mejorando los precios con tecnología avanzada.</p>
                    <div class="btn-area">
                        <a href="" class="btn-custom-primary" data-aos="fade-right" data-aos-duration="2000">Únete como Agricultor <i class="fa-solid fa-users"></i></a>
                        <a href="" class="btn-custom-secondary" data-aos="fade-left" data-aos-duration="2500">Explorar Productos <i class="fa-solid fa-briefcase"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-images-area">
                    <div class="images">
                        <img src="{% static 'images/heros/img-hero-1.png' %}" alt="Hero" data-aos="zoom-in" data-aos-duration="1000">
                    </div>
                    <div class="images1">
                        <img src="{% static 'images/backgrounds/bg-heros.png' %}" alt="Hero bg">
                    </div>
                    <div class="auhtor-images">
                        <div class="img1">
                            <img src="{% static 'images/more/gif/agro-hero.gif' %}" alt="Gif bg" class="hero-img1 aniamtion-key-2">
                            <img src="{% static 'images/more/svg/icons-hero-6.svg' %}" alt="" class="hero-img2 zoom-in-out">
                            <img src="{% static 'images/more/svg/icons-hero-2.svg' %}" alt="" class="hero-img3 heartbeat">
                            <img src="{% static 'images/more/svg/icons-hero-8.svg' %}" alt="" class="hero-img4 float-rotate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>