{% load static %}
<section class="service-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="service-header-area text-center heading-3">
                    <h5><img src="{% static 'images/brand/brand-bg.png' %}" alt="">Nuestros Servicios</h5>
                    <h2 class="titles-header">Transformando la Agricultura con Tecnología y Conectividad</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="service-boxes">
                    <h4>01</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/heros/img-service-1.png' %}" alt="Conexión con Compradores">
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service.html">Conexión Directa con Compradores</a>
                        <p>Facilitamos la venta de productos agrícolas directamente a compradores y distribuidores, eliminando intermediarios y aumentando la rentabilidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1500">
                <div class="service-boxes box2">
                    <h4>02</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/heros/img-service-2.png' %}" alt="Análisis de Calidad con IA">
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service.html">Análisis de Calidad con IA</a>
                        <p>Utilizamos Inteligencia Artificial y Visión por Computadora para evaluar la calidad de frutas y verduras, asegurando estándares óptimos para el mercado.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="2000">
                <div class="service-boxes box3">
                    <h4>03</h4>
                    <div class="space40"></div>
                    <div class="img1 image-anime">
                        <img src="{% static 'images/heros/img-service-3.png' %}" alt="Optimización Logística">
                    </div>
                    <div class="space40"></div>
                    <div class="content-area">
                        <a href="service.html">Optimización Logística Inteligente</a>
                        <p>Nuestros algoritmos optimizan rutas de distribución para reducir costos y tiempos de entrega, garantizando eficiencia en la cadena de suministro para todo Colombia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="space30"></div>
                <div class="btn-area1 text-center" data-aos="fade-up" data-aos-duration="1200">
                    <a href="contact.html" class="btn-custom-tertiary">Empieza Ahora <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>