{% load static %}
<div class="space60"></div>
<!--===== ABOUT AREA STARTS =======-->
<section class="about1-section-area sp6 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="about-images">
                    <figure class="image-anime">
                        <img src="{% static 'images/img/about-img1.png' %}" alt="">
                    </figure>
                    <img src="{% static 'images/elements/diamond_3d_shape.png' %}" alt="" class="star1 keyframe5">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-content-area heading2">
                    <div class="arrow-circle justify-content-center d-flex">
                        <img src="{% static 'images/elements/plus_3d_shape.png' %}" alt="" height="64" width="64" class="elements4 keyframe5">
                    </div>
                    <h2>Transformando la economía agrícola del Chocó</h2>
                    <p>En Asogridocam, nuestra misión es conectar a los agricultores del Chocó con mercados internacionales mediante soluciones tecnológicas innovadoras, impulsando el desarrollo económico y social de la región.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-auhtor-images">
                    <figure class="image-anime">
                        <img src="{% static 'images/img/about-img2.png' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== ABOUT AREA ENDS =======-->
<div class="space60"></div>