{% load static %}
<!--===== CTA AREA STARTS =======-->
<section class="cta-section-area">
    <div class="space60"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">  
                <div class="cta-header-area text-center sp4 heading2">
                    <h2>¿Listo para llevar la agricultura del Chocó <br class="d-md-block d-none"> al siguiente nivel?</h2>
                    <p>Impulsemos juntos la economía agrícola con herramientas tecnológicas, <br class="d-md-block d-none"> conectando a los agricultores con mercados globales.</p>
                    <div class="btn-area text-center">
                        <a href="contact.html" class="header-btn10">Contáctanos Ahora </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space60"></div>
</section>
  <!--===== CTA AREA ENDS =======-->
.....  