{% load static %}
<!--===== HERO AREA STARTS =======-->
<section class="about-header-area">
    <img src="{% static 'images/elements/elements12.png' %}" alt="" class="elements1 aniamtion-key-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1>Sobre Nosotros</h1>
                    <a href="{% url 'home' %}">Inicio  -  <span>Sobre Nosotros</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== HERO AREA ENDS =======-->