{% load static %}
<!--===== TESTIMONIAL AREA STARTS =======-->
<div class="space60"></div>
<section class="slider-section-area slider-inner sp5">
  <div class="space80"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <div class="sldier-head">
          <p>Confiado por <br class="d-lg-block d-none"> Nuestros Aliados</p>
        </div>
      </div>
      <div class="col-lg-10 text-center">
        <div class="slider-images-area carousel slide" data-bs-ride="carousel" id="carouselExample">
          <div class="carousel-inner">
            {% for ally in allies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              {% if ally.website %}
              <a href="{{ ally.website }}">
                {% if ally.logo %}
                  <img src="{{ ally.logo.url }}" alt="{{ ally.name }}" style="max-width: 150px;">
                {% else %}
                  <h1 style="color: var(--ztc-text-text-1);">{{ ally.name }}</h1>
                {% endif %}
              </a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space80"></div>
</section>
<!--===== TESTIMONIAL AREA ENDS =======-->