{% load static %}
<div class="space60"></div>
<!--===== TESTIMONIAL AREA STARTS =======-->
<section class="slider-section-area slider-inner sp5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <div class="sldier-head">
          <p>Confiado por <br class="d-lg-block d-none"> Nuestros Aliados</p>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="slider-images-area owl-carousel">
          <div class="img1">
            <img src="{% static 'images/elements/elements12.png' %}" alt="">
          </div>
          <div class="img1">
            <img src="{% static 'images/elements/elements13.png' %}" alt="">
          </div>
          <div class="img1">
            <img src="{% static 'images/elements/elements12.png' %}" alt="">
          </div>
          <div class="img1">
            <img src="{% static 'images/elements/elements13.png' %}" alt="">
          </div>
          <div class="img1">
            <img src="{% static 'images/elements/elements12.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== TESTIMONIAL AREA ENDS =======-->