{% load static %}
<!--===== WORK AREA STARTS =======-->
<section class="works-inner-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="works-header-area heading2">
                    <h5>Por qué elegirnos</h5>
                    <h2>Experiencia, sostenibilidad y compromiso comunitario</h2>
                    <p>En Asogridocam entendemos los desafíos únicos de los agricultores del Chocó. Por ello, ofrecemos soluciones personalizadas para superar las barreras geográficas y tecnológicas.</p>
                    <div class="space32"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="{% static 'images/elements/svgs/sostenible-about.svg' %}" alt="">
                        </div>
                        <div class="content">
                            <a>Impacto Sostenible</a>
                            <p>Promovemos prácticas agrícolas sostenibles para garantizar el equilibrio entre productividad y conservación del medio ambiente.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="{% static 'images/elements/svgs/global-about.svg' %}" alt="">
                        </div>
                        <div class="content">
                            <a>Conexión Global</a>
                            <p>Conectamos a los agricultores locales con mercados internacionales, abriendo oportunidades de crecimiento económico.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="works-content-box">
                        <div class="icons">
                            <img src="{% static 'images/elements/svgs/apoyo-about.svg' %}" alt="">
                        </div>
                        <div class="content">
                            <a>Apoyo Constante</a>
                            <p>Acompañamos a las comunidades agrícolas en cada paso, desde la producción hasta la exportación.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-all-images-area">
                    <img src="{% static 'images/elements/svgs/sound-icons3.svg' %}" alt="" class="elements12 keyframe5">
                    <img src="{% static 'images/elements/svgs/lite-icons2.svg' %}" alt="" class="elements13 keyframe5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime">
                                <div class="space100"></div>
                                <img src="{% static 'images/img/agriculture-about-1.jpeg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img2 image-anime">
                                <img src="{% static 'images/img/agriculture-about-2.jpeg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== WORK AREA ENDS =======-->