{% load static %}
<!--Footer-->
<footer class="footer-section-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="footer-widget-area">
                    <div class="footer-logo text-center">
                        <img src="{% static 'images/brand/brand-bg.png' %}" alt="Asogridocam-Brand">
                    </div>
                    <p>Asogridocam es una asociación de agricultores del Chocó que promueve la exportación de productos agrícolas de alta calidad al mercado internacional.</p>
                    <div class="social-area">
                        <div class="space20"></div>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget-area-1">
                    <h4>Enlaces Rápidos</h4>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Quiénes Somos</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Impacto Social</a></li>
                        <li><a href="">Aliados</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="footer-widget-area-2">
                    <h4>Contáctanos</h4>
                    <ul>
                        <li>
                            <a href="mailto:Infoseoc@gmail.com">
                                <i class="fa-solid fa-envelope"></i>
                                <span>Infoseoc@gmail.com</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>8708 Technology Forest <br class="d-lg-block d-none"> Pl Suite 125 -G, The <br class="d-lg-block d-none"> Woodlands, TX 773</span>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+573123456789">
                                <i class="fa-solid fa-phone"></i> 
                                <span>+57 312 345 6789</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>

        <div class="space80 d-lg-block d-none"></div>
        <div class="space40 d-lg-none d-block"></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-area">
                    <div class="copy">
                        <p><span>&copy;</span> Copyright 2025 Asogridocam. Todos los derechos reservados. Elaborado por <span>Netxora</span>.</p>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Terminos & Condiciones</a>
                        </li>
                        <li>
                            <a href="#">Política de Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>