{% load static %}
<!--===== CONTACT AREA STARTS =======-->
<section class="contact-main-inner-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading2 contact-header">
                    <h5>Contáctanos</h5>
                    <h2>Ponte en Contacto con Asogridocam <br> Valoramos tu Conexión</h2>
                    <p>En Asogridocam, estamos comprometidos en apoyar a la comunidad agrícola del Chocó. Creemos en la comunicación abierta y estamos aquí para resolver tus inquietudes. Puedes comunicarte con nosotros a través de teléfono, correo electrónico o visitarnos en nuestras oficinas durante el horario laboral.</p>
                    <div class="space32"></div>
                    <div class="number-address-area">
                        <div class="phone-number">
                            <div class="img1">
                                <img src="{% static 'images/elements/svgs/phone3.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <p>Número Telefónico</p>
                                <a href="tel:123-456-7890">+57 123-456-7890</a>
                            </div>
                        </div>

                        <div class="phone-number m-0">
                            <div class="img1">
                                <img src="{% static 'images/elements/svgs/email3.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <p>Correo Electrónico</p>
                                <a href="mailto:info@asogridocam.org">info@asogridocam.org</a>
                            </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="number-address-area2">
                        <div class="phone-number">
                            <div class="img1">
                                <img src="{% static 'images/elements/svgs/location3.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <p>Ubicación</p>
                                <a href="#">Carrera 5 #10-20, Quibdó, Chocó, Colombia</a>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="contact-form-area">
                    <h4>Contáctanos</h4>
                    <form method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="row">
                            {% if form.errors %}
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <p>{{ field.label }}: {{ field.errors|striptags }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if messages %}
                                <div class="col-lg-12">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.name }}
                                </div>
                            </div>
                
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.surname }}
                                </div>
                            </div>
                
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.email }}
                                </div>
                            </div>
                
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            
                            <div class="space20"></div>
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.country }}
                                </div>
                            </div>
                
                            <div class="col-lg-12">
                                <div class="input-area">
                                    {{ form.message }}
                                </div>
                            </div>
                
                            <div class="col-lg-12">
                                <div class="input-area">
                                    <button type="submit" class="header-btn11">Enviar Mensaje <span><i class="fa-solid fa-arrow-right"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>
<!--===== CONTACT AREA ENDS =======-->
