{% load static %}
<!--===== FOOTER AREA STARTS =======-->
<footer class="footer5-section-area">
    <div class="container">
        <div class="row">
            <!-- LOGO Y DESCRIPCIÓN -->
            <div class="col-lg-3 col-md-6">
                <div class="footer-logo-area">
                    <img src="{% static 'images/logos/logo.png' %}" alt="Asogridocam Logo" height="50" width="50">
                    <p>Conectamos a los agricultores del Chocó con el mercado global, promoviendo prácticas sostenibles y llevando productos agrícolas de alta calidad a cada rincón del mundo.</p>
                    <ul>
                        <li><a href="#"><img src="{% static 'images/elements/social/facebook5.svg' %}" alt="Facebook"></a></li>
                        <li><a href="#"><img src="{% static 'images/elements/social/instagram5.png' %}" alt="Instagram"></a></li>
                    </ul>
                </div>
            </div>

            <!-- ENLACES DE NAVEGACIÓN -->
            <div class="col-lg-2 col-md-6">
                <div class="footer-logo-area1">
                    <h3>Enlaces</h3>
                    <ul>
                        <li><a href="about.html">Sobre Nosotros</a></li>
                        <li><a href="services.html">Servicios</a></li>
                        <li><a href="projects.html">Proyectos</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contáctanos</a></li>
                    </ul>
                </div>
            </div>

            <!-- INFORMACIÓN DE CONTACTO -->
            <div class="col-lg-3 col-md-6">
                <div class="footer-logo-area2">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li>
                            <a href="mailto:info@asogridocam.org">
                                <img src="{% static 'images/elements/svgs/email.svg' %}" alt="Email Icon">
                                <span>info@asogridocam.org</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'images/elements/svgs/location.svg' %}" alt="Location Icon">
                                <span>Quibdó, Chocó, Colombia</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+57-123-456-7890">
                                <img src="{% static 'images/elements/svgs/phone.svg' %}" alt="Phone Icon">
                                <span>+57 123 456 7890</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- SUSCRIPCIÓN AL BOLETÍN -->
            <div class="col-lg-4 col-md-6">
                <div class="footer-logo-area3">
                    <h3>Suscríbete a Nuestro Boletín</h3>
                    <form action="#">
                        <input type="email" placeholder="Ingresa tu correo" required>
                        <button class="header-btn11"> Suscribirse <i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="space80 d-lg-block d-none"></div>
        <div class="space40 d-lg-none d-block"></div>

        <!-- COPYRIGHT Y POLÍTICAS -->
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-area">
                    <div class="pera">
                        <p>ⓒCopyright 2025 Asogridocam. Todos los derechos reservados, by Netxora.</p>
                    </div>
                    <ul>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#" class="m-0">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--===== FOOTER AREA ENDS =======-->
