{% extends 'includes/base.html' %}
{% block content %}
<!-- Hero -->
{% include 'includes/components/homepage/hero.html' %}
<!-- About -->
{% include 'includes/components/homepage/about.html' %}
<!-- Services -->
{% include 'includes/components/homepage/services.html' %}
<!-- Impact -->
{% include 'includes/components/homepage/impact.html' %}
<!-- Alliances -->
{% include 'includes/components/homepage/alliances.html' %}
<!-- Contact -->
{% include 'includes/components/homepage/contact.html' %}
{% endblock %}